/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 3.7rem;
    font-size: 1.1em !important;
}

main#main {
    padding: 0;
}

#logo {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 0px;
    left: 50px;
}

#navbarMain {
    margin-left: 25em;
}

#footer-main {
    padding-top: 2em;
    padding-bottom: 2em;
}

#footer-main .social-bar a{
    margin-left: 1em;
    cursor: pointer;
}

#footer-main .social-bar a.facebook:hover{
    color: #3b5999;
}

#footer-main .social-bar a.twitter:hover{
    color: #55acee;
}

#footer-main .social-bar a.instagram:hover{
    color: #e4405f;
}

#footer-main .social-bar a.youtube:hover{
    color: #cd201f;
}

.main-margin {
    margin-right: 1em !important;
    margin-left: 1em !important;
}

#mayor-menu .card {
    cursor: pointer;
}


/* Turismo slider */

.container-turist {
    margin-right: 0;
    margin-left: 0;
    margin-top: -1px;
}

.container{
    position: relative;

}


/*Turismo*/

/*margen de la seccion de turismo*/

.main-margin-turist{

    margin-left: 0%;
    margin-right: 0%;
    margin-top: -1px;

}

/*slider carousel boostrap*/
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }

   /*---------------------------------------------*/


/* turismo images presentacion */

.turism {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.turism .image {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    border-radius: 0;
    width: 55%;

}

.turism .image img {
    border-radius: 0;
    width: 100%;
    position: relative;
    
}

.turism .content {
    padding: 2em 4em 0.1em 4em ;
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    max-width: 48em;
    width:60%;
    
}


.turism:nth-child(2n) {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    
}

.wrapper.style2 p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 28px;

    
}

.wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
    color: #ffffff;
    
    
}

.wrapper.style2 h2{
    font-weight: bold;
}

.turism:nth-child(1) {
    background-color: #004F6D;
}

.turism:nth-child(2) {
    background-color: #0072BB;
}

.turism:nth-child(3) {
    background-color: #004F6D;
}

.turism:nth-child(4) {
    background-color:#0072BB;
}

.turism:nth-child(5) {
    background-color: #004F6D;
}

.turism:nth-child(6) {
    background-color:  #0072BB;
}

.turism:nth-child(7) {
    background-color: rgba(0, 0, 0, 0.525);
}

.turism:nth-child(8) {
    background-color: rgba(0, 0, 0, 0.6);
}

.turism:nth-child(9) {
    background-color: rgba(0, 0, 0, 0.675);
}

.turism:nth-child(10) {
    background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1280px) {

    .turism .image {
        width: 45%;
    }

    .turism .content {
        width: 55%;
    }

}

@media screen and (max-width: 980px) {

    .turism {
        display: block;
    }

        .turism br {
            display: none;
        }

        .turism .image {
            width: 100%;
        }

        .turism .content {
            padding: 4em 3em 2em 3em ;
            max-width: none;
            text-align: center;
            width: 100%;
        }

        .turism .h2 {
        color: aliceblue;
        }

}

@media screen and (max-width: 736px) {

    .turism .content {
        padding: 3em 2em 1em 2em ;
    }

}

    /*Hover images turismo*/

.image:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:all 0.3s ease;
}
/*-------------------------------------------------*/


/**wraper turismo**/
.wrapper {
    padding: 2em 0 2em 0 ;
}

.wrapper > .inner {
    width: 65em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {

    .wrapper > .inner {
        width: 90%;
    }

}

@media screen and (max-width: 980px) {

    .wrapper > .inner {
        width: 100%;
    }

}



.wrapper.alt {
    padding: 0;
}

.wrapper.style1 {
    background-color:#00FC69;
    color: #ffffff;
    text-align: center;
}


            
/**header one**/
header.major {
    margin: 0 0 3.5em 0;
}
header.major h1 {
    font-weight: bold;
    
}
    
header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
    border-bottom: solid 2px #fff;
    display: inline-block;
    padding-bottom: 2em;
    position: relative;
}
    
header.major h2:after, header.major h3:after, header.major h4:after, header.major h5:after, header.major h6:after {
    content: '';
    display: block;
    height: 1px;
}
    
header.major p {
    color: #fff;
    top: 0;
}
    
@media screen and (max-width: 736px) {

    header.major {
        margin: 0 0 2em 0;
    }

}
    
@media screen and (max-width: 980px) {

    header br {
        display: none;
    }

}
/**----------------------------------------------**/

  

/*informacion iconos geografia,turismo,villa jujutla*/

.service-heading {

    margin: 15px 0;
    text-transform: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
       
}

.section-heading{
    font-size: 3em
}

.text-primary {
    color: #28a746f1 !important;
}
      
/*link como llegar*/
.badge-success{

    font-size: 20px;
    
}
  /*------------------*/

.delay{
    animation-duration: initial;
}

  /****************************************************************************************************************/