<br><br><br>
<div class="card-deck main-margin" id="mayor-menu">
	<div class="animated bounceInLeft bounce card border-success" id="government" >
		<div class="animated bounceInLeft bounce card-header bg-success">
			<center><i class="fas fa-hotel fa-5x fa-inverse"></i></center>
		</div>
		<div class="animated bounceInLeft bounce card-body">
			<h5 class="card-title font-weight-bold text-center text-dark">Gobierno Municipal</h5>
			<p class="card-text text-center text-secondary">Conoce sobre nuestro Gobierno Municipal, información general de la Alcaldía y del Consejo Municipal.</p>
		</div>
	</div>
	<div class="animated bounceInUp bounce card border-success" id="history">
		<div class="animated bounceInUp bounce card-header bg-success">
			<center><i class="fas fa-monument fa-5x fa-inverse"></i></center>
		</div>
		<div class="animated bounceInUp bounce card-body text-success">
			<h5 class="card-title font-weight-bold text-center text-dark">Referencia Histórica</h5>
			<p class="card-text text-center text-secondary">Jujutla desde sus origines históricos, conoce un poco de las costumbres y tradiciones, nuestras raices y generaciones pasadas.</p>
		</div>
	</div>
	<div class="animated bounceInUp bounce card border-success" id="tourism">
		<div class="animated bounceInUp bounce card-header bg-success">
			<center><i class="fas fa-umbrella-beach fa-5x fa-inverse"></i></center>
		</div>
		<div class="animated bounceInUp bounce card-body text-success">
			<h5 class="card-title font-weight-bold text-center text-dark">Turismo</h5>
			<p class="card-text text-center text-secondary">Los lugares turísticos maravillos con los que cuenta nuestro municipio te sorprenderán, conoce cada uno de estos.</p>
		</div>
	</div>
	<div class="animated bounceInRight bounce card border-success" id="citizen">
		<div class="animated bounceInRight bounce card-header bg-success">
			<center><i class="fas fa-users fa-5x fa-inverse"></i></center>
		</div>
		<div class="animated bounceInRight bounce card-body text-success">
			<h5 class="card-title font-weight-bold text-center text-dark">Atención Ciudadana</h5>
			<p class="card-text text-center text-secondary">Recursos disponibles para la población en general, con el fin de ofrecer una mejor atención, servicio y comunicación con nuestra gente.</p>
		</div>
	</div>
</div>