<section id="slide">
    <div class="fluid_container">
         <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
             <div data-src="images/slides/1.jpg">
                 <div class="camera_caption fadeFromBottom">
                     Amplias y cómodas instalaciones al servicio del pueblo.
                 </div>
             </div>
             <div data-src="images/slides/2.jpg">
                 <div class="camera_caption fadeFromBottom">
                     Disfruta de lo nuestro.
                 </div>
             </div>
             <div data-src="images/slides/3.jpg">
                 <div class="camera_caption fadeFromBottom">
                     Parque recreativo para disfrutar en familia.
                 </div>
             </div>
             <div data-src="images/slides/4.jpg">
                 <div class="camera_caption fadeFromBottom">
                     Todo cerca de donde vives.
                 </div>
             </div>
             <div dat data-src="images/slides/5.jpg">
                 <div class="camera_caption fadeFromBottom">
                     La Naturaleza nuestra mejor presentación.
                 </div>
             </div>
             <div data-src="images/slides/6.jpg">
                 <div class="camera_caption fadeFromBottom">
                     ... y más ambiente natural.
                 </div>
             </div>
             <div data-src="images/slides/7.jpg"></div>
             <div data-src="images/slides/8.jpg"></div>
         </div><!-- #camera_wrap_1 -->
     </div><!-- .fluid_container -->
 </section>