<br><br><br>
<div class="main-margin">
	<h1>Gobierno Municipal</h1>
	<hr>
	<div class="col-md-8">
		<table class="table focused">
			<thead>
				<th>Nombre</th>
				<th>Cargo</th>
			</thead>
			<tbody>
				<tr>
					<td>Víctor Manuel Martínez Jiménez</td>	
					<td>Alcalde</td>	
				</tr>
				<tr>
					<td>Wilfredo Fuentes</td>	
					<td>Sindico</td>	
				</tr>
				<tr>
					<td>Jaime Antonio Moran León</td>	
					<td>1° Regidor</td>	
				</tr>
				<tr>
					<td>Rogelio Aguilar Lovato</td>	
					<td>2° Regidor</td>	
				</tr>
				<tr>
					<td>Maribel Ortega de Espinosa</td>	
					<td>3° Regidor</td>	
				</tr>
				<tr>
					<td>María Guadalupe Vallecillos Borja</td>	
					<td>4° Regidor</td>	
				</tr>
				<tr>
					<td>Martha Idalia Ibarra</td>	
					<td>5° Regidor</td>	
				</tr>
				<tr>
					<td>Manuel Arnulfo García</td>	
					<td>6° Regidor</td>	
				</tr>
				<tr>
					<td>José Julián Hidalgo Madrid</td>	
					<td>7° Regidor</td>	
				</tr>
				<tr>
					<td>Reyna Lorena Hernández de Mata</td>	
					<td>8° Regidor</td>	
				</tr>			
			</tbody>
		</table>	
	</div>
		
</div>