<br><br><br>
<div class="main-margin">
	<h1>Referencia Histórica</h1>
	<hr>
	<p>
		Jujutla es un asentamiento de población yaqui o pipil, por lo que es de origen precolombino. Jujutla su nombre vernáculo, ¨XUXUTLA¨ significa literalmente en náhuatl "CIUDAD DE LAS TUMBAS" que proviene de ¨XUXU¨ (ciudad o pueblo) y ¨TLA¨ (sepulcro o tumba) fue fundada en la época de la colonia en el año de 1513, perteneciendo a la provincia de los Izalcos o alcaldía mayor de Sonsonate. Le fue otorgado el título de pueblo en el año de 1800, siendo incorporado al departamento de Sonsonate El 12 de Junio en el año 1824 entrando en la demarcación geográfica del primitivo y grande departamento de Sonsonate. Fue incluido en el distrito judicial de Ahuachapán por Ley de 4 de Julio de 1,832.El 29 de Enero de 1,859 fue segregado este pueblo del distrito Administrativo de Sonsonate y anexado al distrito administrativo de Ahuachapán, en el departamento de Santa Ana. En un informe municipal de Jujutla, del 26 de Abril de 1,859 aparece con una población de 312 Habitantes. El 10 de Abril de 1,964 el Gobierno que presidia el Licenciado Francisco Dueñas emitió un acuerdo Ejecutivo, aprobado por decreto legislativo de 18 de Febrero de 1,865 en virtud del cual el pueblo de Jujutla se agregó del distrito de Ahuachapán y departamento de Santa Ana y se incorporó nuevamente en el distrito y departamento de Sonsonate. El 9 de Febrero del año 1,869 se creó el departamento de Ahuachapán con base en los distritos denominados de Ahuachapán y primero de estos distritos el pueblo de Jujutla. Por ley de 31 de Enero 1,870 el pueblo de Jujutla segrego del distrito judicial de Sonsonate y se incorporó en el de Ahuachapán al que pertenece actualmente y obtiene su título de villa en el año 2,000.
	</p>
	<p>
		En 1,890 tenía 1,028 habitantes.
	</p>
	<p>
		Según el arzobispo don Pedro Cortes y Larraz en 1,770 Jujutla formaba parte como anejo del curato de Caluco y su población estaba representada por una familia de ladinos  con 7 personas y 30 familias de indios con 112 personas. De acuerdo con una antigua tradición, común a todos los pueblos aborígenes de la costa de Tonalá, Jujutla ocupo antiguamente el paraje denominado Azacualpa, a 5 kilómetros al Oeste de su asiento actual ,en el cual a la fecha funciona una de las principales fincas de caficultores del municipio, Hay una leyenda local que cuenta que el pueblo estaba ubicado en dicho paraje y que ahora es el cantón Las Mesas, pero debido a un ataque de una terrible plaga de Quirópteros (murciélagos) u vampiros Gigantes la población fue trasladada a su actual ubicación lugar en el cual en ese entonces funcionaba lo que era el cementerio o el lugar de los sepulcros de ese entonces. Dicho suceso sucedió  a principios del Siglo XVIII.		
	</p>		
</div>