<div class="main-margin-turist">




	

		<!-- <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
		
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="images/carusel/6.jpg" alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="images/carusel/8.jpg" alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="images/carusel/9.jpg" alt="Third slide">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div> -->


<!--<section class="container-turist">
<div id="mycarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="images/carusel/6.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="images/carusel/8.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="images/carusel/9.jpg" alt="Third slide">
		</div>
	
					</div>
  </div>
  <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>-->
<!--<img src="images/carusel/6.jpg" class="img-fluid" alt="Responsive image">
</section>-->

	<!--<div class="main-margin"></div>-->

	 <!-- Services -->
	 <br><br><br>
    <section id="servi">
      <div class="container">

				<!--Clase animated utilizada para efectos-->
					<!--<h1 class="animated bounceInLeft bounce">Example</h1>-->

        <!--<div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Services</h2>

          </div>
        </div>-->
        <div class="row text-center">
          <div class="col-md-4">
            <span class="animated bounceInLeft bounce fa-stack fa-4x">
              <i class="animated bounceInLeft bounce fa fa-circle fa-stack-2x text-primary"></i>
              <i class="animated bounceInLeft bounce fa fa-map fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading animated bounceInLeft bounce">Geografía</h4>
            <p class="text-muted animated bounceInLeft bounce">Jujutla cuenta con un territorio impresionante al norte y oeste se encuentra limitado por la cordillera Apaneca-Lamatepec y al sur por el océano Pacífico, con una gran extensión de recursos naturales.  </p>
          </div>
          <div class="col-md-4">
            <span class="animated bounceInUp bounce fa-stack fa-4x">
              <i class="animated bounceInUp bounce fa fa-circle fa-stack-2x text-primary"></i>
              <i class="animated bounceInUp bounce fa fa-map-signs fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading animated bounceInUp bounce">Turismo</h4>
            <p class="text-muted animated bounceInUp bounce">El municipio ofrece grandes atractivos turísticos para disfrutar en familia y amigos, como playas, ríos de montaña, cascadas impresionantes, parque central etc. Jujutla tiene una diversidad turística aun por descubrir. </p>
          </div>
          <div class="col-md-4">
            <span class="animated bounceInRight bounce fa-stack fa-4x">
              <i class="animated bounceInRight bounce fa fa-circle fa-stack-2x text-primary"></i>
              <i class="animated bounceInRight bounce fa fa-road fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading animated bounceInRight bounce">Villa Jujutla</h4>
            <p class="text-muted animated bounceInRight bounce">Puedes visitar Jujutla y desplazarte a pie o en automóvil, o hacer tu propio tour por la zona, es un pueblo muy seguro y con una linda gente que te harán sentir como en casa. Visita Jujutla y conoce sus maravillosos lugares.</p>
          </div>
        </div>
      </div>
    </section>


<br><br><br>


		<!-- seccion de imagenes Two -->
		<section id="two" class="wrapper alt style2">
				<section class="turism">
					<div class="image"><img src="images/imgturist/pic01.jpg" alt="" /></div><div class="content">
						<h2>Cascadas de Don Juan</h2><br>
						<h4><p>"Las Cascadas de Don Juan", es un lugar para estar en contacto con la naturaleza, en un clima muy fresco. Las cascadas están rodeadas de abundante vegetación, sus aguas frías caen desde una 
							altura de 25 metros y se alimenta del nacimiento de agua que está a 500 metros de lugar, en el río San Juan.</p></h4>

							<a href="https://www.google.com/maps/place/Cascadas+de+Don+Juan/@13.8240993,-89.8574406,17z/data=!3m1!4b1!4m5!3m4!1s0x8f62a35678b5e5bb:0xea9f451cc3f89b0e!8m2!3d13.8240993!4d-89.8552519" class="badge badge-success fas fa-map-marker fa-1x"> Como llegar</a>
						
 <!-- 
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			<i class="fa fa-map-marker" aria-hidden="true"></i> Ubicacion 
  </button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>-->



					</div>
				</section>
				<section class="turism">
					<div class="image"><img src="images/imgturist/pic02.jpg" alt="" /></div><div class="content">
						<h2>Playa Barra de Santiago</h2><br>
						<h4><p>“La Barra de Santiago” es un excelente destino turístico que ofrece Jujutla, los visitantes pueden disfrutar de la hermosa playa en un ambiente agradable, de igual manera 
							de frescos y variados platillos del mar que se ofrecen en diversos restaurantes de la zona para compartir en familia. </p></h4>
							<a href="https://www.google.com/maps/place/Barra+de+Santiago/@13.694364,-90.0218036,15z/data=!3m1!4b1!4m8!1m2!2m1!1splaya+barra+de+santiago!3m4!1s0x8f62a827bdc70ce5:0x8219d9606e7f887e!8m2!3d13.6927193!4d-90.0128236" class="badge badge-success fas fa-map-marker fa-1x"> Como llegar</a>
						</div>
				</section>
				<section class="turism">
					<div class="image"><img src="images/imgturist/pic03.jpg" alt="" /></div><div class="content">
						<h2>Bocana Barra de Santiago</h2><br>
						<h4><p>En la Bocana de Barra de Santiago, las aguas son ideales para practicar deportes como la natación, el kayaking, el velerismo 
							y el Esqui acuático. Además, cuando hay marea alta, se puede ir mar adentro a través de la bocana de El Zapote.</p></h4>
							<a href="https://www.google.com/maps/place/Bocana+Barra+De+Santiago/@13.6865257,-90.0339382,14z/data=!4m8!1m2!2m1!1sEstero+Barra+De+Santiago,+Barra+de+Santiago!3m4!1s0x0:0x8f18189b6f5ea6ff!8m2!3d13.6927166!4d-90.0128263" class="badge badge-success fas fa-map-marker fa-1x"> Como llegar</a>
						</div>
				</section>
				<section class="turism">
						<div class="image"><img src="images/imgturist/pic04.jpg" alt="" /></div><div class="content">
							<h2>Piscinas de Santa Isabel</h2><br>
							<h4><p>Es un lugar muy agradable ya que puedes visitarlo con tus amigos y familiares. En el cual encuentra piscinas de agua natural de aguas totalmente cristalinas y 
								un clima muy agradable, a pocos minutos del pueblo de Jujutla en donde entras en contacto con la vegetación. </p></h4>
								<a href="https://www.google.com/maps/place/Cascadas+de+Don+Juan/@13.8216981,-89.8593844,16.75z/data=!4m5!3m4!1s0x8f62a35678b5e5bb:0xea9f451cc3f89b0e!8m2!3d13.8240993!4d-89.8552519" class="badge badge-success fas fa-map-marker fa-1x"> Como llegar</a>
							</div>
					</section>
					<section class="turism">
						<div class="image"><img src="images/imgturist/pic05.jpg" alt="" /></div><div class="content">
							<h2>Iglesia Jujutla</h2><br>
							<h4><p>La Iglesia San Miguel Arcángel tiene un estilo colonial moderno se encuentra en el centro del pueblo de villa Jujutla sus fiestas son el 29 de septiembre 
								en honor a San Miguel Arcángel. Y es un atractivo para los visitantes. </p></h4>
								<!--<div class="d-inline p-2 bg-primary text-white fas fa-umbrella-beach fa-10 "> Ubicacion</div>-->
								<a href="https://www.google.com/maps/search/iglesia+de+Jujutla/@13.8248027,-89.8915726,13z/data=!3m1!4b1" class="badge badge-success fas fa-map-marker fa-1x"> Como llegar</a>
						</div>
					</section>
					<section class="turism">
							<div class="image"><img src="images/imgturist/pic06.jpg" alt="" /></div><div class="content">
								<h2>Parque Central</h2><br>
								<h4><p>Es un lugar muy tranquilo y amplio, cuenta con una área de juegos recreativos para niños y a sus costados se encuentra la alcaldía municipal.  </p></h4>
								<!--<span class="fas fa-umbrella-beach fa-10x"><span class="label"></span></span>-->
								<a href="https://www.google.com/maps/place/PARQUE+MUNICIPAL/@13.7913175,-89.9062752,13z/data=!4m8!1m2!2m1!1sparque+de+Jujutla!3m4!1s0x0:0x71a779ebd5601b3a!8m2!3d13.7860703!4d-89.8605359" class="badge badge-success fas fa-map-marker fa-1x"> Como llegar</a>
							</div>
						</section>
			</section>
	</section>

</div>


<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h1>¡Haz turismo en Jujutla!</h1><br>
			<div class="main-margin"></div>
			<div class="col-md-12">
				<h4><p>Sus principales atractivos turísticos son la hermosa Playa Barra de Santiago y las Cascadas situadas sobre  
					el río Copinula. Esto lleva aún más a impulsar que el Municipio de Villa Jujutla  
					este entre los denominados  pueblos vivos de El Salvador, donde se resalta el turismo de la zona y genera ingresos 
					económicos para el municipio. Jujutla es una opcion mas para hacer turismo en familia</p></h4>
			</div>
		</header>
		<ul class="icons major">
			<span class="fas fa-umbrella-beach fa-10x"><span class="label"></span></span>
		</ul>
	</div>
</section>


